<% const dateGalerie = typeof galerieStatica !== "undefined" ? galerieStatica : { imagini: [] }; %>

<div class="galerie-statica">
    <% if (dateGalerie.imagini.length) { %>
        <div class="galerie-statica__grid">
            <% dateGalerie.imagini.forEach(function (imagine) { %>
                <figure class="galerie-statica__figura">
                    <picture>
                        <source srcset="<%= imagine.cale_server_mic %>" media="(max-width:700px)">
                        <source srcset="<%= imagine.cale_server_mediu %>" media="(max-width:1200px)">
                        <img src="<%= imagine.cale_server %>" alt="<%= imagine.alt %>" title="<%= imagine.descriere %>" loading="lazy">
                    </picture>
                    <figcaption><%= imagine.descriere %></figcaption>
                </figure>
            <% }) %>
        </div>
    <% } %>
</div>
